@import "./designSystem.scss";

body {
  background-color: $whiteish;
}

.background-img {
  // all
  background-repeat: no-repeat;

  // mobile settings first
  background-image: url("./assets/bg-main-mobile.png");
  background-position: 0 -275px;

  /*
 *   @include tablet-breakpoint {
 *     background-image: url("./assets/bg-main-tablet.png");
 *     left: -254px;
 *     top: -122px;
 *     height: 808px;
 *     width: 983px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     background-image: url("./assets/bg-main-desktop.png");
 *     left: -146px;
 *     top: -122px;
 *     height: 1758px;
 *     width: 1613px;
 *   }
 */
}

.background-pattern-1 {
  // all breakpoints
  // position: absolute;
  // NOTE: do not display this background on mobile!

  /*
 *   @include tablet-breakpoint {
 *     background-image: url("./assets/bg-pattern-1.svg");
 *     height: 400px;
 *     width: 266.67px;
 *     left: 537px;
 *     top: -32px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     background-image: url("./assets/bg-pattern-1.svg");
 *     height: 468px;
 *     width: 312px;
 *     left: 1128px;
 *     top: -40px;
 *   }
 */
}

.logo {
  // all breakpoints
  fill: $blackish;
  height: 32px;

  // mobile
  margin: 2rem 0 4rem 1rem;

  /*
 *   @include tablet-breakpoint {
 *     left: 39.15px;
 *     top: 61.99px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     left: 166.15px;
 *     top: 61.99px;
 *   }
 */
}

.heading-matter {
  // responsive width taking into account 1rem l&r margin
  width: calc(100% - 2rem);
  height: 320px;
  margin: 0 1rem 6rem 1rem;
}

.heading-1 {
  // mobile
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 1rem;

  /*
 *   @include tablet-breakpoint {
 *     font-size: 64px;
 *     line-height: 64px;
 *     letter-spacing: -0.727273px;
 *     width: 520px;
 *     height: 192px;
 *     left: 39px;
 *     top: 189px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     width: 1015px;
 *     height: 176px;
 *     left: 165px;
 *     top: 221px;
 *   }
 */
}

.copy-1 {
  // .body-1 has mobile defaults

  /*
 *   @include tablet-breakpoint {
 *     width: 514px;
 *     height: 112px;
 *     left: 39px;
 *     top: 409px;
 *     font-size: 18px;
 *     line-height: 28px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     width: 825px;
 *     height: 102px;
 *     left: 164.5px;
 *     top: 437px;
 *   }
 */
}

.product-container {
  // modbile
  height: 1024px;
  width: 100%;

  /*
 *   @include tablet-breakpoint {
 *     height: 600px;
 *     width: 696px;
 *     left: 33px;
 *     top: 770px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     height: 600px;
 *     width: 1110px;
 *     left: 165px;
 *     top: 860px;
 *   }
 */
}

.screenshot {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.black-box-container {
  height: 600px;
  width: 100%;
  background-color: $blackish;
  z-index: -999;
  position: relative;
  top: -20rem;
  border-radius: 12px;
}

.middle-background-img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.action-container {
  height: 546px;
  width: 100%;
  border-radius: 12px;
  background: $orangish;
  position: relative;
  top: -34rem;
}

.action-copy-container {
  max-height: 100%;
  margin: 0 2rem;
  display: inline-block;
}

.action-heading {
  margin: 3rem 0 1rem 0;
}

.action-copy {
  margin-bottom: 2rem;
}

.pricing {
  color: $whiteish;
  height: 52px;
  display: inline-flex;
  align-content: center;
  margin-bottom: 2rem;
}

.four-dollar {
  font-weight: bold;
  font-size: 65px;
  line-height: 52px;
}

.per-month {
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 52px;
  margin-left: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.link-container {
  text-decoration: none;
  margin-bottom: 1rem;
  align-self: center;
}

.button-container {
  width: 296px;
  height: 61px;
  border-radius: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.button-content {
  line-height: 61px;
  display: flex;
}

.button-text {
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 61px;
  letter-spacing: -0.18px;
  margin-left: 0.5rem;
}

.button-icon {
  height: 20px;
  width: auto;
  line-height: 61px;
  align-self: center;
}

footer {
  margin: 0 1rem;
}

.logo-bottom {
  margin: 2rem 0;
}

.footer-copy {
  font-size: 16px;
  line-height: 26px;
  color: $blackish;
  margin-bottom: 4rem;
}

.contact-email {
  font-weight: bold;
  text-decoration: none;
  color: $blackish;

  &:hover {
    text-decoration: underline;
  }
}

.social-media-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 4rem;
}

.link-item {
  margin-right: 1.5rem;
}

.icon-link {
  height: 20px;
  width: 20px;
}

a:hover .icon {
  // see pure css answer to change svg fill oolor here:
  // https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-styles-with-css
  filter: invert(78%) sepia(62%) saturate(5416%) hue-rotate(327deg) brightness(101%) contrast(96%);
}
