@import "./designSystem.scss";

.background-img {
  // all
  background-repeat: no-repeat;

  // mobile
  background-image: url("./assets/bg-main-mobile.png");
  background-position: 0 -275px;

  @include tablet-breakpoint {
    background-image: url("./assets/bg-main-tablet.png");
    background-position: -375px -225px;
  }

  @include desktop-breakpoint {
    background-image: url("./assets/bg-main-desktop.png");
    background-position: -300px -225px;
  }
}

.background-pattern-1 {
  // all breakpoints
  background-repeat: no-repeat;
  // NOTE: do not display this background on mobile!

  @include tablet-breakpoint {
    background-image: url("./assets/bg-pattern-1.svg");
    background-position: 32rem -2rem;
  }

  @include desktop-breakpoint {
    background-position: right -2rem;
  }
}

.logo {
  // all breakpoints
  height: 2rem;

  // mobile
  margin: 2rem 0 4rem 1rem;

  @include tablet-breakpoint {
    margin: 2.5rem 0 6rem 2.5rem;
  }

  @include desktop-breakpoint {
    margin: 4rem 0 8rem 10.3rem;
  }
}

.heading-matter {
  // responsive width taking into account 1rem l&r margin
  width: calc(100% - 2rem);
  height: 20rem;
  margin: 0 1rem 6rem 1rem;

  @include tablet-breakpoint {
    width: calc(60% - 2rem);
    margin-left: 2.5rem;
  }

  @include desktop-breakpoint {
    width: calc(60% - 20.6rem);
    margin-left: 10.3rem;
  }
}

.heading-1 {
  // mobile
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 1rem;

  @include tablet-breakpoint {
    max-width: 14ch;
  }

  /*
   * @include desktop-breakpoint {
   *   width: 1015px;
   *   height: 176px;
   *   left: 165px;
   *   top: 221px;
   * }
   */
}

.copy-1 {
  // .body-1 has mobile defaults
  font-size: 16px;
  line-height: 26px;

  @include tablet-breakpoint {
    font-size: 18px;
    line-height: 28px;
  }

  /*
   * @include desktop-breakpoint {
   *   width: 825px;
   *   height: 102px;
   *   left: 164.5px;
   *   top: 437px;
   * }
   */
}

.product-container {
  // modbile
  height: 64rem;
  max-width: 100%;

  @include tablet-breakpoint {
    height: 52rem;
    margin-bottom: 2rem;
  }

  /*
   * @include desktop-breakpoint {
   *   height: 600px;
   * }
   */
}

.screenshot {
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
  // set to positive value so that background colors are not overriden!
  z-index: 20;

  @include tablet-breakpoint {
    width: 16.5rem;
    margin-left: 6rem;
  }

  @include desktop-breakpoint {
    width: 19.5rem;
    margin-left: 17.7rem;
  }
}

.black-box-container {
  height: 37.5rem;
  width: 100%;
  background-color: $blackish;
  position: relative;
  top: -20rem;
  border-radius: 12px;

  @include tablet-breakpoint {
    width: calc(100% - 5rem);
    margin: auto;
    top: -26rem;
  }

  @include desktop-breakpoint {
    width: calc(100% - 20.6rem);
  }
}

.middle-background-img {
  width: 70%;
  display: block;
  // note: setting margin here make the top and left setting relative to this given margin
  margin: 0 auto;

  @include tablet-breakpoint {
    width: 17.5rem;
    position: relative;
    top: -2rem;
    left: 1rem;
  }

  @include desktop-breakpoint {
    width: 19.5rem;
    left: -2.75rem;
  }
}

.action-container {
  width: 100%;
  border-radius: 12px;
  background: $orangish;
  position: relative;
  top: -34rem;
  // set to positive value so that background colors are not overriden!
  z-index: 50;

  @include tablet-breakpoint {
    width: 25rem;
    top: -54rem;
    left: 17rem;
  }

  @include desktop-breakpoint {
    width: 27.9rem;
    left: 47rem;
  }
}

.action-copy-container {
  max-height: 100%;
  margin: 0 2rem;
  display: inline-block;
}

.action-heading {
  margin: 3rem 0 1rem 0;
}

.action-copy {
  margin-bottom: 2rem;

  @include desktop-breakpoint {
    font-size: 20px;
    line-height: 34px;
  }

}

.pricing {
  color: $whiteish;
  height: 3.25rem;
  display: inline-flex;
  align-content: center;
  margin-bottom: 2rem;
}

.four-dollar {
  font-weight: bold;
  font-size: 65px;
  line-height: 52px;
}

.per-month {
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 52px;
  margin-left: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.link-container {
  text-decoration: none;
  margin-bottom: 1rem;
  align-self: center;
}

.button-container {
  width: 18.5rem;
  height: 3.8rem;
  border-radius: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.button-content {
  line-height: 61px;
  display: flex;
}

.button-text {
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin-left: 0.5rem;
}

.button-icon {
  height: 20px;
  width: auto;
  line-height: 61px;
  align-self: center;
}

.android-mb {
  margin-bottom: 2rem;
}

footer {
  margin: 0 1rem;

  @include tablet-breakpoint {
    margin: 0 2.5rem;
  }
}

.logo-bottom {
  margin: 2rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;

  @include tablet-breakpoint {
    flex-direction: row;
    align-items: space-between;
  }
}

.footer-copy {
  font-size: 16px;
  line-height: 26px;
  color: $blackish;
  margin-bottom: 4rem;
  width: 75%;

  @include tablet-breakpoint {
    width: 50%;
  }
}

.contact-email {
  font-weight: bold;
  text-decoration: none;
  color: $blackish;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  width: 50%;

  @include tablet-breakpoint {
    justify-content: flex-end;
    margin-top: 2rem;
  }
}

.link-item {
  margin-right: 1.5rem;
}

.icon-link {
  height: 20px;
  width: 20px;
}

a:hover .icon {
  // see pure css answer to change svg fill oolor here:
  // https://stackoverflow.com/questions/24933430/img-src-svg-changing-the-styles-with-css
  filter: invert(78%) sepia(62%) saturate(5416%) hue-rotate(327deg) brightness(101%) contrast(96%);
}
