/*
  * styles and typography from the design system document given;
  * also including browser default clearing, device breakpoints
  */

// breakpoints
// NOTE: no mobile breakpoint because that is the default
@mixin tablet-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin large-desktop-breakpoint {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

/*
 * Widths for sections and footer of breakpoint; not settings these by page cause mobile is
 * different, of course
 */
.device-widths {
  width: 90%;
  margin: auto;

  @include desktop-breakpoint {
    width: 85%;
  }

  @include large-desktop-breakpoint {
    width: 60%;
  }
}

// colors
$blueish: hsl(177, 68%, 64%);
$orangish: hsl(12, 94%, 65%);
$yellowish: hsl(33, 100%, 70%);
$whiteish: hsl(20, 33%, 98%);
$blackish: hsl(244, 23%, 12%);

// typography
.defaults {
  background-color: $whiteish;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.background-img {
  // all
  background-repeat: no-repeat;
  background-image: url("@/assets/img/bg-main-mobile.png");
  background-position: 0 -17.2rem;

  @include tablet-breakpoint {
    background-image: url("@/assets/img/bg-main-tablet.png");
    background-position: -25rem -14rem;
  }

  @include desktop-breakpoint {
    background-image: url("@/assets/img/bg-main-desktop.png");
    background-position: -18.75rem -14rem;
  }

  @include large-desktop-breakpoint {
    background-position: 0 -14rem;
  }
}

.heading-1 {
  font-weight: bold;
  color: $blackish;
  // mobile
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px;

  @include tablet-breakpoint {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.73px;
  }

  @include desktop-breakpoint {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
  }
}

.heading-2 {
  font-weight: bold;
  color: $whiteish;
  // mobile
  font-size: 32px;
  line-height: 40px;

  @include desktop-breakpoint {
    font-size: 40px;
    line-height: 52px;
  }
}

.body-1 {
  font-size: 16px;
  line-height: 26px;

  @include desktop-breakpoint {
    font-size: 20px;
    line-height: 34px;
  }
}

.body-2 {
  color: $whiteish;
  // mobile
  font-size: 18px;
  line-height: 28px;

  @include desktop-breakpoint {
    font-size: 20px;
    line-height: 34px;
  }
}

// buttons
// attributes of all buttons
.button-skel {
  width: 296px;
  height: 61px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  border-radius: 12px;

  // special rule for small foldable devices;
  // also, only adjustment needed to make for this size device
  @media screen and (max-width: 300px) {
    width: 13rem;
  }

  // tablet and mobile use same size buttons; bigger for desktop
  @include desktop-breakpoint {
    width: 333px;
  }
}

.ios-button {
  background: $blackish;
  color: $whiteish;

  &:hover {
    background: $blueish;
  }
}

.android-button {
  background: $whiteish;
  color: $blackish;

  &:hover {
    background: $yellowish;
  }
}
