*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  letter-spacing: -1px; }

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px; }

.body-1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  line-height: 34px; }

.body-2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 26px; }

.ios-button {
  background: #191826;
  color: #fcfaf9; }
  .ios-button:hover {
    background: #66e2dc; }

.android-button {
  background: #fcfaf9;
  color: #191826; }
  .android-button:hover {
    background: #fa7453; }

body {
  background-color: #fcfaf9; }

.background-img {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/bg-main-mobile.png");
  left: 159px;
  top: -104px;
  height: 480px;
  width: 281.4px; }
  @media only screen and (min-width: 600px) {
    .background-img {
      background-image: url("./assets/bg-main-tablet.png");
      left: -254px;
      top: -122px;
      height: 808px;
      width: 983px; } }
  @media only screen and (min-width: 801px) {
    .background-img {
      background-image: url("./assets/bg-main-desktop.png");
      left: -146px;
      top: -122px;
      height: 1758px;
      width: 1613px; } }
.background-pattern-1 {
  position: absolute; }
  @media only screen and (min-width: 600px) {
    .background-pattern-1 {
      background-image: url("./assets/bg-pattern-1.svg");
      height: 400px;
      width: 266.67px;
      left: 537px;
      top: -32px; } }
  @media only screen and (min-width: 801px) {
    .background-pattern-1 {
      background-image: url("./assets/bg-pattern-1.svg");
      height: 468px;
      width: 312px;
      left: 1128px;
      top: -40px; } }
.logo {
  fill: #191826;
  height: 32px;
  width: 146.09px;
  position: absolute;
  left: 24.1758px;
  top: 39.99px; }
  @media only screen and (min-width: 600px) {
    .logo {
      left: 39.15px;
      top: 61.99px; } }
  @media only screen and (min-width: 801px) {
    .logo {
      left: 166.15px;
      top: 61.99px; } }
.heading-1 {
  position: absolute;
  font-size: 40px;
  line-height: 48px;
  width: 327px;
  height: 144px;
  left: 24px;
  top: 136px; }
  @media only screen and (min-width: 600px) {
    .heading-1 {
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -0.727273px;
      width: 520px;
      height: 192px;
      left: 39px;
      top: 189px; } }
  @media only screen and (min-width: 801px) {
    .heading-1 {
      width: 1015px;
      height: 176px;
      left: 165px;
      top: 221px; } }
.copy-1 {
  position: absolute;
  width: 327px;
  height: 156px;
  left: 24px;
  top: 300px;
  font-size: 16px;
  line-height: 26px; }
  @media only screen and (min-width: 600px) {
    .copy-1 {
      width: 514px;
      height: 112px;
      left: 39px;
      top: 409px;
      font-size: 18px;
      line-height: 28px; } }
  @media only screen and (min-width: 801px) {
    .copy-1 {
      width: 825px;
      height: 102px;
      left: 164.5px;
      top: 437px; } }
.middle-box {
  position: absolute;
  background-color: #191826;
  height: 600px;
  width: 375px;
  left: 0px;
  top: 622px; }
  @media only screen and (min-width: 600px) {
    .middle-box {
      height: 600px;
      width: 696px;
      left: 33px;
      top: 770px; } }
  @media only screen and (min-width: 801px) {
    .middle-box {
      height: 600px;
      width: 1110px;
      left: 165px;
      top: 860px; } }
