/*
 * For all classes, mobile breakpoint styling is listed first
 */
/*
  * styles and typography from the design system document given;
  * also including browser default clearing, device breakpoints
  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  background-color: #fcf9f8; }

h1 {
  font-weight: bold;
  color: #191826;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px; }
  @media only screen and (min-width: 1100px) {
    h1 {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -1px; } }
h2 {
  font-weight: bold;
  color: #fcf9f8;
  font-size: 32px;
  line-height: 40px; }
  @media only screen and (min-width: 1100px) {
    h2 {
      font-size: 40px;
      line-height: 52px; } }
.body-1 {
  font-size: 16px;
  line-height: 26px; }
  @media only screen and (min-width: 1100px) {
    .body-1 {
      font-size: 20px;
      line-height: 34px; } }
.body-2 {
  color: #fcf9f8;
  font-size: 18px;
  line-height: 28px; }
  @media only screen and (min-width: 1100px) {
    .body-2 {
      line-height: 26px; } }
.button-skel {
  width: 296px;
  height: 61px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  border-radius: 12px; }
  @media only screen and (min-width: 1100px) {
    .button-skel {
      width: 333px; } }
.ios-button {
  background: #191826;
  color: #fcf9f8; }
  .ios-button:hover {
    background: #65e2db; }

.android-button {
  background: #fcf9f8;
  color: #191826; }
  .android-button:hover {
    background: #ffba66; }

/*
 * Widths for sections and footer of breakpoint; not settings these by page 'cause mobile is
 * different, of course
 */
.section-1 {
  width: 90%;
  margin: auto; }
  @media only screen and (min-width: 600px) {
    .section-1 {
      width: 90%; } }
  @media only screen and (min-width: 1100px) {
    .section-1 {
      width: 80%; } }
.background-img {
  background-repeat: no-repeat;
  background-image: url("./assets/bg-main-mobile.png");
  background-position: 0 -17.2rem; }
  @media only screen and (min-width: 600px) {
    .background-img {
      background-image: url("./assets/bg-main-tablet.png");
      background-position: -25rem -14rem; } }
  @media only screen and (min-width: 1100px) {
    .background-img {
      background-image: url("./assets/bg-main-desktop.png");
      background-position: -300px -225px; } }
.background-pattern-1 {
  background-repeat: no-repeat; }
  @media only screen and (min-width: 600px) {
    .background-pattern-1 {
      background-image: url("./assets/bg-pattern-1.svg");
      background-position: 36rem -2rem;
      background-size: 16rem auto; } }
  @media only screen and (min-width: 1100px) {
    .background-pattern-1 {
      background-position: right -2rem;
      background-size: 18rem auto; } }
.logo {
  height: 2rem;
  margin: 2rem 0 4rem 1rem; }
  @media only screen and (min-width: 600px) {
    .logo {
      margin: 2.5rem 0 6rem 0; } }
  @media only screen and (min-width: 1100px) {
    .logo {
      margin: 4rem 0 8rem 0; } }
.heading-matter {
  margin-bottom: 6rem; }

.heading-1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 600px) {
    .heading-1 {
      width: 28rem;
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -0.73px; } }
  @media only screen and (min-width: 1100px) {
    .heading-1 {
      width: 55rem;
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -1px; } }
.copy-1 {
  font-size: 16px;
  line-height: 26px; }
  @media only screen and (min-width: 600px) {
    .copy-1 {
      font-size: 18px;
      line-height: 28px;
      width: 32rem; } }
  @media only screen and (min-width: 1100px) {
    .copy-1 {
      width: 53rem;
      font-size: 20px;
      line-height: 34px; } }
.product-container {
  height: 64rem;
  width: 100%; }
  @media only screen and (min-width: 600px) {
    .product-container {
      height: 52rem;
      margin: 2rem auto;
      width: 90%; } }
  @media only screen and (min-width: 1100px) {
    .product-container {
      width: 80%; } }
.screenshot {
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 20; }
  @media only screen and (min-width: 600px) {
    .screenshot {
      width: 16.5rem;
      margin-left: 4rem; } }
  @media only screen and (min-width: 1100px) {
    .screenshot {
      width: 19.5rem;
      margin-left: 6rem; } }
.black-box-container {
  height: 37.5rem;
  width: 100%;
  background-color: #191826;
  position: relative;
  top: -20rem;
  border-radius: 12px; }
  @media only screen and (min-width: 600px) {
    .black-box-container {
      margin: auto;
      top: -26rem; } }
.middle-background-img {
  width: 70%;
  display: block;
  margin: 0 auto; }
  @media only screen and (min-width: 600px) {
    .middle-background-img {
      margin: 0;
      width: 17.5rem;
      position: relative;
      top: -2rem;
      left: 14rem; } }
  @media only screen and (min-width: 1100px) {
    .middle-background-img {
      width: 19.5rem;
      left: 20rem; } }
.action-container {
  width: 100%;
  border-radius: 12px;
  background: #fa7352;
  position: relative;
  top: -34rem;
  z-index: 50; }
  @media only screen and (min-width: 600px) {
    .action-container {
      width: 25rem;
      top: -54rem;
      left: 15rem; } }
  @media only screen and (min-width: 1100px) {
    .action-container {
      width: 27.9rem;
      left: 35rem;
      top: -56rem; } }
.action-copy-container {
  display: inline-block;
  margin: 0 2rem; }

.action-heading {
  margin: 3rem 0 1rem 0; }
  @media only screen and (min-width: 600px) {
    .action-heading {
      font-size: 40px;
      line-height: 52px; } }
.action-copy {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 600px) {
    .action-copy {
      font-size: 20px;
      line-height: 34px; } }
.pricing {
  color: #fcf9f8;
  height: 3.25rem;
  display: inline-flex;
  align-content: center;
  margin-bottom: 2rem; }

.four-dollar {
  font-weight: bold;
  font-size: 65px;
  line-height: 52px; }

.per-month {
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 52px;
  margin-left: 1rem; }

.buttons {
  display: flex;
  flex-direction: column; }

.link-container {
  text-decoration: none;
  margin-bottom: 1rem;
  align-self: center; }

.button-container {
  width: 18.5rem;
  height: 3.8rem;
  border-radius: 12px;
  display: flex;
  align-content: center;
  justify-content: center; }

.button-content {
  line-height: 61px;
  display: flex; }

.button-text {
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 64px;
  letter-spacing: -0.18px;
  margin-left: 0.5rem; }

.button-icon {
  height: 20px;
  width: auto;
  line-height: 61px;
  align-self: center; }

.android-mb {
  margin-bottom: 2rem; }

footer {
  margin: 0 1rem; }
  @media only screen and (min-width: 1100px) {
    footer {
      display: flex;
      flex-direction: row;
      margin: 8rem auto !important; } }
.logo-bottom {
  margin: 2rem 0; }

@media only screen and (min-width: 1100px) {
  .bottom-logo-container {
    width: 30%; } }

.footer-container {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 600px) {
    .footer-container {
      flex-direction: row;
      align-items: space-between; } }
  @media only screen and (min-width: 1100px) {
    .footer-container {
      width: 70%; } }
.footer-copy {
  font-size: 16px;
  line-height: 26px;
  color: #191826;
  margin-bottom: 4rem;
  width: 75%; }
  @media only screen and (min-width: 600px) {
    .footer-copy {
      width: 50%; } }
.contact-email {
  font-weight: bold;
  text-decoration: none;
  color: #191826; }

ul {
  list-style-type: none; }

.social-media-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  width: 50%; }
  @media only screen and (min-width: 600px) {
    .social-media-links {
      justify-content: flex-end;
      margin-top: 2rem; } }
.link-item {
  margin-right: 1.5rem; }

.icon-link {
  height: 20px;
  width: 20px; }

a:hover .icon {
  filter: invert(78%) sepia(62%) saturate(5416%) hue-rotate(327deg) brightness(101%) contrast(96%); }
