/*
  * styles and typography from the design system document given;
  * also including browser default clearing, device breakpoints
  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  background-color: #fcf9f8; }

h1 {
  font-weight: bold;
  color: #191826;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px; }
  @media only screen and (min-width: 801px) {
    h1 {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -1px; } }
h2 {
  font-weight: bold;
  color: #fcf9f8;
  font-size: 32px;
  line-height: 40px; }
  @media only screen and (min-width: 801px) {
    h2 {
      font-size: 40px;
      line-height: 52px; } }
.body-1 {
  font-size: 16px;
  line-height: 26px; }
  @media only screen and (min-width: 801px) {
    .body-1 {
      font-size: 20px;
      line-height: 34px; } }
.body-2 {
  color: #fcf9f8;
  font-size: 18px;
  line-height: 28px; }
  @media only screen and (min-width: 801px) {
    .body-2 {
      line-height: 26px; } }
.button-skel {
  width: 296px;
  height: 61px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  border-radius: 12px; }
  @media only screen and (min-width: 801px) {
    .button-skel {
      width: 333px; } }
.ios-button {
  background: #191826;
  color: #fcf9f8; }
  .ios-button:hover {
    background: #65e2db; }

.android-button {
  background: #fcf9f8;
  color: #191826; }
  .android-button:hover {
    background: #fa7352; }

body {
  background-color: #fcf9f8; }

.background-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/bg-main-mobile.png");
  background-attachment: fixed;
  background-position: 0 -280px;
  /*
 *   @include tablet-breakpoint {
 *     background-image: url("./assets/bg-main-tablet.png");
 *     left: -254px;
 *     top: -122px;
 *     height: 808px;
 *     width: 983px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     background-image: url("./assets/bg-main-desktop.png");
 *     left: -146px;
 *     top: -122px;
 *     height: 1758px;
 *     width: 1613px;
 *   }
 */ }

.background-pattern-1 {
  /*
 *   @include tablet-breakpoint {
 *     background-image: url("./assets/bg-pattern-1.svg");
 *     height: 400px;
 *     width: 266.67px;
 *     left: 537px;
 *     top: -32px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     background-image: url("./assets/bg-pattern-1.svg");
 *     height: 468px;
 *     width: 312px;
 *     left: 1128px;
 *     top: -40px;
 *   }
 */ }

.logo {
  fill: #191826;
  height: 32px;
  margin: 2rem 0 4rem 1rem;
  /*
 *   @include tablet-breakpoint {
 *     left: 39.15px;
 *     top: 61.99px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     left: 166.15px;
 *     top: 61.99px;
 *   }
 */ }

.heading-matter {
  width: calc(100% - 2rem);
  height: 320px;
  margin: 0 1rem 6rem 1rem; }

.heading-1 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 1rem;
  /*
 *   @include tablet-breakpoint {
 *     font-size: 64px;
 *     line-height: 64px;
 *     letter-spacing: -0.727273px;
 *     width: 520px;
 *     height: 192px;
 *     left: 39px;
 *     top: 189px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     width: 1015px;
 *     height: 176px;
 *     left: 165px;
 *     top: 221px;
 *   }
 */ }

.copy-1 {
  /*
 *   @include tablet-breakpoint {
 *     width: 514px;
 *     height: 112px;
 *     left: 39px;
 *     top: 409px;
 *     font-size: 18px;
 *     line-height: 28px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     width: 825px;
 *     height: 102px;
 *     left: 164.5px;
 *     top: 437px;
 *   }
 */ }

/*
 * .middle-box {
 *   // all
 *   position: absolute;
 *   background-color: $blackish;
 *
 *   // modbile
 *   height: 600px;
 *   width: 375px;
 *   left: 0px;
 *   top: 622px;
 *
 *   @include tablet-breakpoint {
 *     height: 600px;
 *     width: 696px;
 *     left: 33px;
 *     top: 770px;
 *   }
 *
 *   @include desktop-breakpoint {
 *     height: 600px;
 *     width: 1110px;
 *     left: 165px;
 *     top: 860px;
 *   }
 * }
 */
